*{
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-color:#0a000a;
}

/* main grid of website  */
.grid-container{
    background-image: url(images/bg-max.png);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 40% 60%;
}

.main-grid1{
    
    grid-column: 1/3;
    height: 4rem;
    z-index: 1; 
    padding: 1.5rem 0;
    align-content: center;
    /* background-color: #1b062d; */
    background: rgb(20,2,27);
    background: linear-gradient(180deg, rgba(20,2,27,1) 0%, rgba(35,5,47,1) 100%);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47); 
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.47);
}


.main-grid4{
    grid-column: 1/3;
}

/* --------------------------------------------------------------------------------------------- */

/* top navbar  */

.nav{
    width: 95%;
    margin: auto;
    height: 3rem;
}

.nav-bar{
   display: flex;
   flex-direction: row;
   align-content: center;
}

.side-nav {
    display: none;
    width: 10%;
    padding: 0 .5rem;
}
.side-nav p{
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}

.logo{
    width: 20%;
}
.logo h2 {
    font-size: 1.3rem;
    color: white;
    transition: all 0.3s ease-out;

}
.logo h2:hover{color: #e81472}
.nav-link-con{
    min-width: 70%;
}

.nav-links{
    display:flex;
    flex-direction: row;
    float: right;
}

.nav-links li{
    list-style: none;
    margin:0 1.5rem;
}
.nav-links a{
    text-decoration: none;
    font-weight: 500;
    font-size: .875rem;
    padding: .75rem;
    padding-bottom: 1.1rem;
    color: white;
    transition: all 0.3s ease-out;
    
}

.nav-links a:hover{
    color: #e81472;
    border-bottom: 2px solid #e81472;
}



.admin-link{
    width: 10%;
    justify-self: right;
    text-decoration: none;
    font-size: .875rem;
    font-weight: 400;
    
    
}

.admin-link a{
    float: right;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-out;
    padding: .2rem 0;
    padding-bottom: 1.1rem;
}

.admin-link a:hover{
    color:  #e81472;
    border-bottom: 2px solid #e81472;
}

/* --------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------- */
/* Gallery heading and text   */
.section1, .section2{
    margin-top: 3rem;
} 

.g-heading{
    font-size: 6rem;
    font-weight: lighter;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    color: #FFFFFF;
}

.g-btn{
    display: block;
    border: none;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
    outline: none;
    cursor: pointer;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: left;
    width: 70%;
    padding: .2rem 2.85rem;
    color:#371d5a;
    transition: all 0.4s ease-out;
}

.g-btn:hover{
    
    color:  #b33694;
}

.g-info{
    margin-top: 1.5rem;
    background-color: rgb(13, 1, 24, .9);
    width: 100%;
    height: 15rem;
    padding: 2rem;

}

.g-info-heading{
    font-weight: normal;
    color: #b33694;
    margin-bottom: 1rem;
    margin-left: .85rem;
    text-shadow:0px 0px 11px 0px rgba(50, 50, 50, 0.41); ;
}

.g-info-text{
    line-height: 1.5rem;
    color: white;
    margin-left: .85rem;
}


/* --------------------------------------------------------------------------------------------- */

/* Gallery Section   */


.gallery-sec{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
   
    
}

.gbox{
    width: 250px;
    height: 200px;
    
    background-color: white;
    overflow: hidden;
    flex:0 0 auto;
    transition: all 0.3s ease-in-out;
    border: 1px solid #b33694;
}

.g-img{
    
    width: 100%;
    height: auto;
    transition: all 0.1s ease-in-out;

}

.gbox:hover{
    transform:scale(1.02, 1.02);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.51);
}


.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #b33694;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .m-nav{ 
      position: absolute;
      top: 5rem;
      width: 100%;
      margin: auto;
        }

  .m-link{
    text-align: center;
    text-decoration: none;
    font-weight:500;
    padding: .8rem 1rem;
    font-size: 1.5rem;
    color: #371d5a;
    display: block;
    transition: 0.3s;
  }

  
  
  .m-nav a:hover{color: #f1f1f1;}
  .sidenav a:hover {color: #f1f1f1;}
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #371d5a;
    
  }


/* --------------------------------------------------------------------------------------------- */
@media (max-width: 1399.98px) {
    .gallery-sec{
        width: 80%;
        margin: auto;}

    .g-btn{
        width: 80%;
    }

    }

@media (max-width: 1199.98px) {
    .gbox{
        width: 230px;
        height: 180px;}

        .g-btn{
            width: 80%;
        }
    

 }

@media (max-width: 991.98px){

    .grid-container{
        grid-template-columns: 40% 60%;
    }
    .nav-links li{
        list-style: none;
        margin:0 1rem;
    }

    .g-heading{
        font-size: 5rem;
        font-weight: lighter;
        margin-bottom: 1rem;
        margin-left: 1rem;
        color: #FFFFFF;
    }

    .g-btn{
        width: 90%;
        padding: .2rem 2rem;
    }

    .gbox{
        width: 200px;
        height: 150px;}

    .gallery-sec{
        width: 90%;
        margin: auto;}    

}



/* Mobile Screen   */

@media (max-width: 800px){

   .sidenav {padding-top: 15px;}
   

    body{
        background-color:#100320 ;
    }
    .side-nav {
        display: block;
        width: 10%;
        padding: 0 .5rem;
    }
    
    .nav-link-con{
        display: none;
        
    }

    .logo{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .admin-link{
        width: 10%;}

    .gbox{
        width: 300px;
        height: 250px;}

    .gbox img{
         width: 300px;
        height: 250px;}    
   
        
    .grid-container{
        grid-template-columns: 100%;}

    .main-grid2{
        grid-column: 1/3;
    }  
    .main-grid3{
        grid-column: 1/3;
    } 

    .g-heading{
        font-size: 5rem;
        font-weight: lighter;
        margin-bottom: 1rem;
        text-align: center;
        color: #FFFFFF;
    }

    .g-btn{
        display: block;
        border: none;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%);
        outline: none;
        cursor: pointer;
        font-size: 1.8rem;
        text-align: center;
        width: 70%;
        margin:.6rem auto;
        padding: .2rem 2.85rem;
        color:#371d5a;
        transition: all 0.5s ease-out;
    }
    
    .g-btn:hover{
        
        color:  #b33694;
    }
    
    .g-info{
        margin-top: 1.5rem;
        background-color: rgb(13, 1, 24, .9);
        width: 100%;
        height: 13rem;
        padding: 2rem;
    
    }
    
    .g-info-heading{
        font-weight: normal;
        color: #b33694;
        margin-bottom: 1rem;
        text-align: center;
        text-shadow:0px 0px 11px 0px rgba(50, 50, 50, 0.41); ;
    }
    
    .g-info-text{
        line-height: 1.3rem;
        color: white;
        text-align: center;
        
    }

    .m-link{
        
        text-decoration: none;
        font-weight:500;
        padding: .8rem .5rem;
        font-size: 1.5rem;
        color: #371d5a;
        display: block;
        transition: 0.3s;
      }
    
}

@media (max-width: 667px) { 

    .gbox{
        width: 200px;
        height: 150px;}

    .gbox img{
         width: 200px;
        height: 150px;} 

}

    /* --------------------------------------------------------------------------------------------- */